In [7]:
# Name: Abhyuday Vaish
# Registration No: 24BRS1338
# Phone No: 9140880748
# Student email: abhyuday.vaish2024@vitstudent.ac.in

In [69]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import matplotlib.pyplot as plt

df = pd.read_csv("gdg_train.csv")
le = LabelEncoder()
cols = ['Attrition', 'Travel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime']
df[cols] = df[cols].apply(le.fit_transform)
#df.drop(['ID', 'EmployeeCount', 'StandardHours', 'Over18'], axis=1, inplace=True)

X = df.loc[:, df.columns != "Attrition"]
y = df['Attrition']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

svm_model = SVC(kernel = 'poly', class_weight = 'balanced')
svm_model.fit(X_train_scaled, y_train)

# feature_importances = np.abs(svm_model.coef_[0])
# feature_names = X.columns
# sorted_indices = np.argsort(feature_importances)[::-1]

# N = 15 
# top_features = feature_names[sorted_indices][:N]
# print("Top Features:", top_features)
# X_top = X[top_features]

# X_train, X_test, y_train, y_test = train_test_split(X_top, y, test_size=0.2, random_state=42)

# svm_model_top = SVC(kernel='linear', random_state=42)
# svm_model_top.fit(X_train, y_train)

y_pred = svm_model.predict(X_test_scaled)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy * 100:.2f}%")
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))
print("Classification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 87.61%
Confusion Matrix:
[[192   8]
 [ 21  13]]
Classification Report:
              precision    recall  f1-score   support

           0       0.90      0.96      0.93       200
           1       0.62      0.38      0.47        34

    accuracy                           0.88       234
   macro avg       0.76      0.67      0.70       234
weighted avg       0.86      0.88      0.86       234

In [70]:
df_test = pd.read_csv("gdg_test.csv")
test_cols = ['Travel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime']
df_test[test_cols] = df_test[test_cols].apply(le.fit_transform)
X_Testing = df_test.loc[:, df_test.columns != 'Attrition']
X_Testing_scaled = scaler.transform(X_Testing)
# X_Testing = X_Testing[top_features]
predictions = svm_model.predict(X_Testing_scaled)
df_test['Predicted_label'] = le.inverse_transform(predictions)
df_test[['ID', 'Predicted_label']].to_csv('gdg_test_predictions7.csv', index = False)
df_test

,ID,Age,Travel,DailyRate,Department,HomeDistance,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Predicted_label
0,221,28,2,440,1,21,3,3,1,3,...,80,1,5,2,1,5,2,0,2,No
1,197,30,2,201,1,5,3,5,1,4,...,80,1,8,3,3,3,2,2,2,No
2,159,30,0,1312,1,23,3,1,1,1,...,80,3,10,2,2,10,7,0,9,Yes
3,431,49,2,1091,1,1,2,5,1,3,...,80,0,25,2,3,7,1,0,7,No
4,1944,27,0,1337,0,22,3,0,1,1,...,80,0,1,2,3,1,0,0,0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,433,52,2,723,1,8,4,3,1,3,...,80,0,11,3,2,8,2,7,7,No
296,327,43,2,1034,2,16,3,2,1,4,...,80,1,22,3,3,17,13,1,9,No
297,567,30,1,1398,2,22,4,4,1,3,...,80,0,10,3,3,9,8,7,8,No
298,1885,37,2,783,1,7,4,3,1,4,...,80,1,16,2,3,5,3,0,4,No
299,1240,25,2,1356,2,10,4,1,1,3,...,80,0,5,4,3,4,3,1,1,No